body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.first-section {
    display: flex;

}

.first-area {
    width: 50%;
    padding: 100px 60px;

}

h1 {
    color: gray;
    font-weight: bolder;
    font-size: 50px;
}

.first-pera {
    color: gray;
    padding-bottom: 60px;
}

.button {
    background-color: orangered;
    text-decoration: none;
    padding: 25px 30px;
    color: white;
    border-radius: 30px;
}

.first-img {
    width: 50%;
}

.person-img {
    width: 100%;


}

.mid-pera {
    color: black;
    padding-bottom: 10%;
}

.mid-section {
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;

}